<!--< <img src="https://concours.dgsn.gov.ma/images/banniere.jpg" style="max-width: 100%; ">
--> 
<section style="height: 90vh;">
<div class="container mt-4 ">
    <div class="row pt-5">

      <div class="col-md-6 pt-5" style="    
      text-shadow: 2px 2px 20px black;
      ">

        
        <h1 style="font-size: 3em;">Welcome to the License </h1>
        <h2 style="font-size: 3em;">Plate Detection System</h2>
        <span>
            <h4 style="font-size: 1.5em;">
          This platform provides advanced tools for </h4>
        <h4 style="font-size: 1.5em;">  the police to detect and manage license plate information.</h4>
            </span>
        
        <div class="pt-3">
            <a class="default-btn btnaccueilsavoirplus" href="#about-us-12-u2IjxHPXai">
                <span>En savoir plus</span>
            
            </a>
        </div>
      </div>
      <div class="col-md-6 text-center pt-5">
        <img src="https://th.bing.com/th/id/R.ec5d2015d6f82d4a3827aae7df5dde4d?rik=iFEsNx%2fsFdiEWg&pid=ImgRaw&r=0" alt="Police Badge" height="75%">
      </div>
    </div>
  </div>
</section>
  <style>
    .cid-u2IjxHPXai {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background-color: #ffffff;
    }
    .cid-u2IjxHPXai .mbr-text {
      color: #000000;
    }
    .cid-u2IjxHPXai .mbr-section-subtitle {
      color: #000000;
    }
    .cid-u2IjxHPXai .mbr-section-title {
      color: #000000;
    }
    </style>
    <section class="article12 cid-u2IjxHPXai" id="about-us-12-u2IjxHPXai">    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <h3 class="mbr-section-title mbr-fonts-style mb-4 mt-0 display-2">
                    <strong>À Propos de Nous</strong>
                    <a href="propos"></a>
                    </h3>
                    <p class="mbr-text mbr-fonts-style display-7">Nous sommes passionnés par la sécurité routière et la gestion efficace des véhicules détectés. Notre système de détection de plaques et d&#x27;authentification est conçu pour simplifier le travail des policiers sur le terrain et des brigadiers.</p>
                    <p class="mbr-text mbr-fonts-style display-7">Notre équipe dévouée travaille sans relâche pour offrir des solutions innovantes et fiables, garantissant ainsi la sécurité et la tranquillité d&#x27;esprit de nos clients.</p>
                    <p class="mbr-text mbr-fonts-style display-7">Avec Notre App, la gestion des véhicules détectés n&#x27;a jamais été aussi simple et efficace. Nous sommes là pour vous accompagner à chaque étape du processus.</p>
                </div>
            </div>
        </div>
    </section>
    
    <style>
  .cid-u2IjxHQ4eq {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .cid-u2IjxHQ4eq .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u2IjxHQ4eq .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u2IjxHQ4eq .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u2IjxHQ4eq .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u2IjxHQ4eq .item-wrapper {
    height: 100%;
  }
  .cid-u2IjxHQ4eq .item-wrapper img {
    height: 100%;
    object-fit: cover;
  }
  .cid-u2IjxHQ4eq .content-head {
    max-width: 800px;
  }
</style>
<section class="gallery1 mbr-gallery cid-u2IjxHQ4eq" id="gallery-10-u2IjxHQ4eq">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center m-0 display-2"><strong>Galerie Photos</strong></h3>
                </div>
            </div>
        </div>
        <div class="row mbr-gallery">
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper mb-3">
                    <img class="w-100" src="https://www.militaryimages.net/attachments/img_20200516_201346-jpg.223791/">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper mb-3">
                    <img class="w-100" src="https://www.zupimages.net/up/18/04/2fup.jpg">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper mb-3">
                    <img class="w-100" src="https://www.bladi.net/img/logo/arton67545.jpg">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <div class="item-wrapper mb-3">
                    <img class="w-100" src="https://photos.tf1info.fr/images/1280/720/police-rabat-maroc-4f8ecd-0@1x.jpeg">
                </div>
            </div>
            
            
        </div>
    </div>
</section>
<style>
  .cid-u2IjxHQZvG {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url("https://static.lematin.ma/files/lematin/images/articles/2017/12/baa8adc9749e4e96296dc5105a4e09cf.jpg");
    background-size: cover;
  background-repeat: no-repeat;
  }
  .cid-u2IjxHQZvG .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u2IjxHQZvG .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u2IjxHQZvG .card-wrapper {
    background: #ffffff;
  }
  @media (max-width: 767px) {
    .cid-u2IjxHQZvG .card-wrapper {
      padding: 2rem 1.5rem;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .cid-u2IjxHQZvG .card-wrapper {
      padding: 2.25rem;
    }
  }
  @media (min-width: 992px) {
    .cid-u2IjxHQZvG .card-wrapper {
      padding: 4rem;
    }
  }
  .cid-u2IjxHQZvG .mbr-text,
  .cid-u2IjxHQZvG .mbr-section-btn {
    color: #000000;
    text-align: left;
  }
  .cid-u2IjxHQZvG .card-title,
  .cid-u2IjxHQZvG .card-box {
    text-align: left;
    color: #000000;
  }
  </style>
  <section class="article07 cid-u2IjxHQZvG mbr-parallax-background" id="generic-text-16-u2IjxHQZvG">
    <div class="container">
      <div class="row justify-content-center">
        <div class="card col-md-12 col-lg-10">
          <div class="card-wrapper">
            <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
              <strong>Pourquoi Choisir Notre Application?</strong>
            </h3>
            <div class="row card-box align-left">
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                  <p class="mbr-text mbr-fonts-style display-7">
                  Notre App offre une solution complète et innovante pour la gestion des véhicules détectés, garantissant une sécurité accrue sur les routes.
                  </p>
                </div>
              </div>
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                  <p class="mbr-text mbr-fonts-style display-7">
                    Notre système de détection de plaques et d&#x27;authentification est conçu pour simplifier les tâches des policiers de terrain et des brigadiers, leur permettant ainsi de se concentrer sur leur mission principale : assurer la sécurité publique.
                  </p>
                </div>
              </div>
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                  <p class="mbr-text mbr-fonts-style display-7">
                    Avec Notre App, vous bénéficiez d&#x27;une technologie de pointe, d&#x27;un support client exceptionnel et d&#x27;une tranquillité d&#x27;esprit totale dans la gestion des véhicules détectés.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    .cid-u2IjxHRd7P {
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: #ffffff;
    }
    .cid-u2IjxHRd7P .mbr-fallback-image.disabled {
      display: none;
    }
    .cid-u2IjxHRd7P .item-wrapper {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    
    .cid-u2IjxHRd7P .mbr-fallback-image {
      display: block;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    .cid-u2IjxHRd7P .mbr-iconfont {
      display: inline-flex;
      font-size: 2rem;
      color: var(--primary-color, #d70081);
      width: 80px;
      justify-content: center;
      align-items: center;
      background: #ffd7ef;
      height: 80px;
      border-radius: 50%;
    }
    .cid-u2IjxHRd7P .card-title,
    .cid-u2IjxHRd7P .iconfont-wrapper{
      color: var(--primary-color, #d70081);
      text-align: center;
    }
    .cid-u2IjxHRd7P .card-text {
      color: #000000;
      text-align: center;
    }
    .cid-u2IjxHRd7P .content-head {
      max-width: 800px;
    }
    .cid-u2IjxHRd7P .mbr-section-title {
      color: #000000;
    }
    
    </style>
    <section class="features10 cid-u2IjxHRd7P" id="metrics-2-u2IjxHRd7P">
      <div class="container">
        <div class="row justify-content-center">
          <div class="item features-without-image col-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
              <div class="card-box align-left">
                <h5 class="card-title mbr-fonts-style display-1">
                  <strong>98%</strong>
                </h5>
                <p class="card-text mbr-fonts-style mb-3 display-7">
                  Taux de Détection Précise
                </p>            
              </div>
            </div>
          </div>
          <div class="item features-without-image col-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
              <div class="card-box align-left">
                <h5 class="card-title mbr-fonts-style display-1">
                  <strong>24/7</strong>
                </h5>
                <p class="card-text mbr-fonts-style mb-3 display-7">
                  Support Client
                </p>            
              </div>
            </div>
          </div>
          <div class="item features-without-image col-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
              <div class="card-box align-left">
                <h5 class="card-title mbr-fonts-style display-1">
                  <strong>Outils</strong>
                </h5>
                <p class="card-text mbr-fonts-style mb-3 display-7">
                  gratuit
                </p>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <style>
      .cid-u2IjxHRRxi .main_wrapper {
        position: relative;
        height: 800px;
        width: 100%;
      }
      .cid-u2IjxHRRxi .b_wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        pointer-events: none;
        text-decoration-color: #000000;

      }
      @media (max-width: 991px) {
        .cid-u2IjxHRRxi .b_wrapper {
          position: relative;
          width: 100%;
          height: auto !important;
          flex-direction: column;
        }
      }
      .cid-u2IjxHRRxi .row {
        margin: 0;
        
      }
      @media (max-width: 991px) {
        .cid-u2IjxHRRxi .container-fluid {
          padding: 0;
        }
      }
      .cid-u2IjxHRRxi .item-wrapper {
        height: 100%;
        background-color: #ffffff;
        pointer-events: fill;
        padding: 2.25rem;
        color: black;

      }
      @media (min-width: 992px) and (max-width: 1200px) {
        .cid-u2IjxHRRxi .item-wrapper {
          padding: 1.5rem;
        }
      }
      @media (max-width: 991px) {
        .cid-u2IjxHRRxi .item-wrapper {
          width: 100%;
          position: relative;
          padding: 2rem;
          border-radius: 0px !important;
        }
      }
      .cid-u2IjxHRRxi .google-map {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }
      .cid-u2IjxHRRxi .google-map iframe {
        height: 100%;
        width: 100%;
        border-radius: 0px !important;
      }
      .cid-u2IjxHRRxi .google-map [data-state-details] {
        color: #edefeb;
        height: 1.5em;
        margin-top: -0.75em;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
      }
      .cid-u2IjxHRRxi .google-map[data-state] {
        background: #edefeb;
      }
      .cid-u2IjxHRRxi .google-map[data-state="loading"] [data-state-details] {
        display: none;
      }
      @media (max-width: 991px) {
        .cid-u2IjxHRRxi .google-map {
          position: static;
        }
      }
      .cid-u2IjxHRRxi ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      </style>
      <section class="contacts4 map1 cid-u2IjxHRRxi" id="contacts-3-u2IjxHRRxi">
        <div class="main_wrapper">
          <div class="b_wrapper">
            <div class="container-fluid">
              <div class="row justify-content-start">
                <div class="col-md-5 col-lg-4 item-wrapper" style="    border-radius: 2rem !important;
                ">
                  <h5 class="cardTitle mbr-fonts-style mb-2 display-5">
                      <strong>Coordonnées</strong>
                  </h5>
                  <ul class="list mbr-fonts-style display-7">
                    <li class="mbr-text item-wrap">Téléphone: <a href="tel:01 23 45 67 89" class="text-black">07 66 22 76 39</a></li>
                    <li class="mbr-text item-wrap">WhatsApp: <a href="tel:01 23 45 67 89" class="text-black">06 23 45 67 89</a></li>
                    <li class="mbr-text item-wrap">Email: <a href="mailto:contact@vehiculex.com" class="text-black">contact@policeWebApp.com</a></li>
                    <li class="mbr-text item-wrap">Adresse: Rabat Morocco</li>
                    <li class="mbr-text item-wrap">Horaires de Desponibilité: Lun - Ven : 9h - 16h</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="google-map">
            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCt1265A4qvZy9HKUeA8J15AOC4SrCyZe4&q=Rabat%20Morocco" allowfullscreen=""></iframe>
          </div>
                  </div>
      </section>
      

      <!--<script>
        function scrollToSection(sectionId) {
          var section = document.getElementById(sectionId);
          if (section) {
            section.scrollIntoView({ behavior: 'smooth' });
          }
        }
      </script>-->